*{
    margin: 0px;
    padding: 0px;
}
a{
    color: #1D3461;
    text-decoration: none;
}
body{
    background-color: #1D3461;
}

.pefilPac{
    display: flex;
    justify-content: center;
    color: #1D3461;
    font-family: 'Trebuchet MS';
}
#perfil{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 80px;
    height: auto;
    width: 1200px;
    border-radius: 20px;
}
#bloco{
    display: flex;
    width: 255px;
    height: 255px;
    background-color: #F6F7F8;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
    margin: 40px;
    margin-left: 60px;
    justify-content: center;
}
#hpacient{
    top: 550px;
}
.pefilPac h1{
    font-size: 40px;
}
#Datas{
    display: flex;
    flex-wrap: wrap;
}
#Datas div{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: #F6F7F8;
    box-shadow: 0px 0px 6px;
    margin: 40px;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}
#Datas a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Datas a:hover{
    transition: 300ms;
    color: white;
    background-color: #1D3461;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Datas span{
    font-size: 20px;
}
#blocoAlign{
    display: flex;
    align-items: center ;
    flex-direction: column-reverse;
}
#ajustImg2{
    width: 237px;
    height: 50px;
}

#ajustImas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.examepopup{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 1058px;
    border-radius: 20px;
    position: absolute;
    margin-top: 264px;
    height: 867px;
    box-shadow: 0px 0px 20px 2px black, 0em 0px 20em 20px black;
}
.examepopup div{
    display: flex;
    flex-direction: column;
    
}
.examepopup p{
    padding: 20px;
}