body{
    background-color: #1D3461;
}
.login_paciente{
    font-family: "Trebuchet MS";
    color: #1D3461;
    border-radius: 20px;
    background-color: white;
    width: 600px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_paciente h1{
    font-size: 40px;
}
.ajustlog{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
#pacient{
    width: 200px;
    height: 283px;
}
#centerimg{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.inputlog{
    position: relative;
    width: 80%;
    height: 30px;
    border: none;
    margin:40px 100px;
  }
.inputlog input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    background-color: #0000004D;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 16px;
    color: #1D3461;
}
.inputlog label{
    font-size: 20px;
}
#formajust{
    margin-top: -50px;
    margin-left: -100px;
}
#entrar{
    color: #1D3461;
    font-size: 25px;
    margin-top: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-family: "Trebuchet MS";
}
.linkcadastro{
    margin-top: 10px;
    margin-left: 85px;
    display: flex;
    justify-content: center;
    
}
.linkcadastro a{
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: #1D3461;
}
#BackButton{
    position: absolute;
    margin-right: 425px;
    margin-top: 19px;
}
#textEmail{
    font-size: 15px;
    display: flex;
}
#textPassword{
    font-size: 15px;
    display: flex;
}
#textForm{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    margin-left: 90px;
}
#loginajust{
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
#backajust{
    width: 60px;
    height: 60px;
}
#testeErro{
    color: red;
}
#messageErro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vh;
}