*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

body{
    background-color:#1D3461;
}
.pefilPac{
    display: flex;
    justify-content: center;
    color: #1D3461;
    font-family: 'Trebuchet MS';
}
#perfil{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 80px;
    height: auto;
    width: 1200px;
    border-radius: 20px;
}
#bloco{
    display: flex;
    width: 297px;
    height: 297px;
    background-color: #F6F7F8;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
    margin: 40px;
    margin-left: 60px;
    justify-content: center;
}
#hpacient{
    top: 550px;
}
.pefilPac h1{
    font-size: 40px;
}

#Datas{
    display: flex;
    flex-wrap: wrap;
    
}
#Datas div{
    display: flex;
    width: 200px;
    height: 100px;
    background-color: #F6F7F8;
    box-shadow: 0px 0px 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#blocoAlign{
    display: flex;
    align-items: center ;
}
#ajustImg2{
    width: 237px;
    height: 50px;
}
.ButtonSty{
    display: flex;
    justify-content: space-around;
}
.ButtonSty a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    background-color: #1D3461;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    color: white;
}
#h2Ajust{
    font-size: 30px;
    margin-left: 50px;
}
#ajustImas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
/* NotaPessoalMedico*/
#NotaMedico{
    display: flex;
    width: 1000px;
    height: 150px;
    background-color: #F6F7F8;
    box-shadow: 0px 0px 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
#NotaMedico h2{
    color: #1D3461;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}
#NotaMedico h3{
    color: #1D3461;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;   
}
.Stilo{
    display: flex;
}
#marg{
    margin-left: 40px;
    margin-right: 40px;
}
/*heder do NotaPessoalMedico*/
.Headermarca{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Openmoji{
    width: 102px;
    height: 102px;
}
.openmoji_person{
    display: flex;
    flex-direction: row;
    gap: 5vh;
}
.openmoji_person a{
    display: flex;
    align-items: center;
    
}
.openmoji_person h2{
    margin-top: 5vh;
    font-family: Trebuchet MS;
font-size: 30px;
font-weight: 700;
line-height: 35px;
letter-spacing: -0.03em;
text-align: left;

}
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(0deg, #F6F7F8 86.02%, #F6F7F8 86.02%, rgba(246, 247, 248, 0.00) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 10px;
    
}
#AddNota{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 81px;
    border-radius: 15px;
    background: #1D3461;
    color: #FFF;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
}
#cor{
    background-color: white;
}

#NotaPessoal{
    width: 100vh;
    height: 50vh;
    background-color: #1D3461;
}
#msgErro{
    display: none;
}
#botoesNota{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    margin-top: 10vh;
}
#botoesNota button{
    width: 400px;
    height: 100px;
    top: 724px;
    left: 277px;
    font-family: Trebuchet MS;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1D3461;    
}
#escreva{
    font-family: Trebuchet MS;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: -0.03em;
text-align: center;

}
