/*tela principal*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1D3461;
    
}

.janela{
    width: 1220px;
    height: 1200px;
    top: 102px;
    bottom: 102px;
    left: 113px;
    border-radius: 20px;
    background-color: #F6F7F8;
    position: absolute;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-icons{
    display: flex;
    align-items: center;
    justify-content:left;
}
.icons img{
    margin: 30px 10px 0px;
}
#bolinha{
    margin-left: 60px;
}
.logo-icon{
    margin-right: 60px;
}

.medico-container{
    display: flex;
    padding: 120px;
    z-index: 999;
    align-items: center;
}
.medico-container img{
    max-width: 100%;
}
.medico-container p{
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1D3461;
    margin-left: 50px;
}
.botão-cadastro{
    width: 178px;
    height: 34px;
    border-radius: 20px;
    background-color:#1D3461;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-left: 10px;
    border: none;
}
.nome-especialidade{
    align-items: center;
}
.botão-cadastro:hover{
    transition: 300ms ease-in-out;
    border: solid 3.5px #000000;
}
#editar-button{
    background: rgb(255, 255, 255);
    width: 42px;
    height: 42px;
    border-radius: 100%;
}
#editar-button:hover{
    transition: 100ms ease-in-out;
    border: solid 1.8px #1D3461;
}
#pacientes-titulo{
    display: flex;
    margin-left: 120px;
    font-family: Trebuchet MS;
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1D3461;

}

.pacientes-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 30px;
    
}
#janelaCadastro{
    position: absolute;
    margin-left: 35vh;
    display: none;
    margin-top: 50vh;
}
.pacientes-diario{
    width: 300px;
    height: 180px;
    background-color: #F6F7F8;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    cursor:pointer;
}

#checkup{
    font-family: Trebuchet MS;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1D3461;
}
#info-paciente{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
    color:#1D3461 ;
}

/*tela editando*/ 

.input-nome{
    width: 385px;
    height: 32px;
    top: 338px;
    left: 508px;
    border-radius: 20px;
    background-color: #1D3461;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align:start;
    color: white;
}
.input-nome placeholder{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: left;
}

/*cadastrar especialidade*/

.cadastro-janela{
    width: 517px;
    height: 360px;
    border-radius: 20px;
    background-color: #F6F7F8;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
}
.cadastro-janela h1{
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1D3461;
    padding-top: 30px;
}
.cadastro-janela h2{
    font-family: Trebuchet MS;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1D3461;
}

.especialidade-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 60px;
    margin-top: 20px;
}
.opcao-especialidade{
    width: 400px;
    height: 30px;
    top: 446px;
    left: 573px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor:pointer;
}

.opcao-especialidade:hover{
    color: #F6F7F8;
    background-color: #1D3461;
    transition: ease-in-out 300ms;
}
.opcao-especialidade:hover p{
    color: #F6F7F8;
    transition: ease-in-out 300ms;
}
.opcao-especialidade p{
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.03em;
    text-align: left;
}

#popup{
    display: none;
} 
.PopupConfirmar{
    margin-left: -25vh;
    margin-top: 85px;
    position: absolute;
    color: #1D3461;
    width: 517px;
    height: 240px;
    border-radius: 20px;
    background: #F6F7F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.PopupConfirmar h3{
    color: white;
    width: 211px;
    height: 37px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
}
.PopupConfirmar h2{
    margin-top: 15px;
    color:#1D3461;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px;
}
.PopupConfirmar p{
    margin-left: 0px;
    color: #1D3461;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.45px;    
}
.PopupConfirmar input{
    margin-left: 40px;
    width: 432px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F6F7F8;
    border: none;
    outline: none;
}
.PopupConfirmar button{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #1D3461;
    width: 150px;
    height: 38px;   
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
     
}

#container-pacientes a{
    text-decoration: none;
}
#container-pop h2, h1{
    font-size: 40px;
    color: #1D3461;
    font-family: 'Trebuchet MS';
}

#container-pop span{
    font-size: 20px;
    color: #1D3461;
    font-family: 'Trebuchet MS';
}
.examepopup {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 1058px;
    border-radius: 20px;
    position: absolute;
    left: 50%; /* Centralizar horizontalmente */
    top: 50%; /* Centralizar verticalmente */
    transform: translate(-50%, -50%);
    height: 867px;
    box-shadow: 0px 0px 20px 2px black, 0em 0px 20em 20px black;
}

.examepopup div {
    display: flex;
    flex-direction: column;
}

.examepopup p {
    padding: 20px;
}
#especialidadePopUPTitle{
    padding-top: 10vh;
}
#teste12{
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    gap: 10vw;
}
#testeimg{
    display: flex;
    align-items: center;
    font-family:Trebuchet MS;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #FFFFFF;
    background-color: #1D3461;
    border-radius: 3vh;
    height: 40vh;
    width: 20vw;
}
#testeimg p{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}
#testeimg img{
    width: 15vw;
}
#buttonHistorico{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    background-color: #1D3461;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    color: white;
}
#headerHistoricoPop{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    gap: 40vh;
}
#especialidadeButton{
    margin-top: 4vh;
    margin-left: 10vh;
}
#Afastarbotao{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
