/*header*/
html {
    scroll-behavior: smooth;
}
body{
    background-color: #1D3461;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link{
    justify-content: left;
}
.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#logo-azul{
    height: 42px;
    width: 200px;
    padding-left: 37px;
    justify-self: left;
}
#login{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #1D3461;
    color: white;
    margin-right: 25px;
}

#cadastro{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    background-color: #1D3461;
    color: white;
}
.botoes{
    display: flex;
}

.botoes img{
    margin-right: 80px;
}
.botao{
    background-color: #1D3461;
    color: white;
    border: none;
    margin-right: 50px;
    cursor: pointer;
    border-radius: 25px;
    padding: 15px 60px;
    justify-items: right;
}
#cadastro:hover{
    background-color: rgba(255, 255, 255, 0.726);
    color: #1D3461;
    transition: ease-in-out 0.5s;
}
#login:hover{
    background-color: rgba(255, 255, 255, 0.726);
    color: #1D3461;
    transition: ease-in-out 0.5s;
}
/*sessão 1*/

#Icons{
    margin-top: 20px;
}
.consulta{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 241px;
    left: 210px;
    background-color: #f6f7f8bd;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    font-family: Trebuchet MS;
}
#image1{
    width: 100%;
    height: 743px;
}

a:link{
    color: #1D3461;
}
#conspan{
    color: #1D3461;
    font-size: 23px;
}
#consh1{
    color: #1D3461;
    margin: 20px;
    font-size: 40px;
}

#medicosimg{
    display: flex;
    justify-content: flex-end;
}
#midcimg{
    width: 400px;
    height: 85px;
    position: absolute;
    margin-top: 280px;
    margin-right: 170px;
}
#retfora{
    margin-left: 200px;
    margin-top: -100px;
    width: 403px;
    height: 584px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #1D3461;
    border-radius: 20px;
    font-family: Trebuchet MS;
}
#retdentro{
    margin-top: 15px;
    display: flex;
    background-color: #1D3461;
    width: 360px;
    height: 360px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
}
#textProc{
    color: white;
    display: flex;
    position: absolute;
    margin-top: 519px;
    flex-direction: column;
    align-items: center;
}
#proch1{
    margin: 20px;
    font-size: 40px;
}
#procspan{
    color: white;
    font-size: 23px;
}
#exafora{
    margin-left: 865px;
    margin-top: -580px;
    width: 403px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #1D3461;
    border-radius: 20px;
    font-family: Trebuchet MS;
}
#exadentro{
    margin-top: 15px;
    display: flex;
    background-color: #1D3461;
    width: 360px;
    height: 360px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
}
#Clinica{
    font-family: 'Segoe Script';
    color: white;
    font-size: 58px;
    position: absolute;
    margin-top: 226px;
    margin-right: 346px;
}
.separacao{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 100vw solid transparent;
    border-bottom: 6vw solid #1d3461;
    margin-top: -6vw;
}
/*sessão 2*/


.sessao-dois{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140vh;
    background-color: #1D3461;
    position: relative;
    margin-top: 115px;
}
.esquerda{
    flex: 1;
}
.foto-include{
    flex: 1;
    position: absolute;
    top: 100px;
}
.esquerda img{
    width: 620px;
    height: 853px;
    left: 99px;
    top: 70px;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
}
.foto-include:nth-child(3){
top: 540px;
}
#retangulo-um{
    width: 400px;
    height: 200px;
    left: 60px;
    top: 30px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
}
#retangulo-dois{
    width: 400px;
    height: 427px;
    left: 352px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
}
.direita{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.direita h1{
    font-family: Trebuchet MS;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-bottom: 200px;
}
.direita p{
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-bottom: 140px;
}
.direita img{
    margin-bottom: 100px;
}

/*sessão 3*/

.sessao-tres{
    display: flex;
    height: 120vh;
    background-color: #1D3461;
    position: relative;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
}
.white-bg{
    display: flex;
    height: 900px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 999;
    justify-content: center;
}
.white-bg h1{
    display: flex;
    font-family: Trebuchet MS;
    font-size: 100px;
    height: 120px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1D3461;
    margin-top: 40px;
    z-index: 10;
    
}
#fundo-white{
    z-index: 1;
    margin: 0;
    height: 100%;
    font-family: Trebuchet MS;
    color:#1d346149;
    position: absolute;
    width: 120vw;
}

.sessao3-container{
    display: grid;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    position: absolute;
    grid-gap: 30px;
    grid-template-columns: 1fr 1.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}
.especialidade-icon{
    z-index: 9999;
    width: 240px;
    height: 240px;
    background-color: #F6F7F8;
    border-radius: 20px;
}

/*sessão 4 - rodapé*/

.sessao-quatro{
    background-color: #1D3461;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape{
    background-color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape p{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3461;
    position: absolute;
    margin-top: 408px;
}
