/*header*/
body{
    background-color: #1D3461;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-azul{
    height: 42px;
    width: 200px;
    padding-left: 37px;
}
#login{
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D3461;
    padding-right: 100px;
}
a:link{
    color: #1D3461;
}

/*sessão 2*/
/*
.sessao-dois{
    height: 100%;
    background-color: #1D3461;
}
.sessao-dois-content{
    top: 300px;
}
.sessao-dois-content img{
    width: 620px;
    height: 800px;
    padding-left: 99px;
    border-radius: 20px;
    position: absolute;
    z-index: 999;
}
#retangulo{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
}
#retangulo2{
    width: 400px;
    height: 427px;
    top: 470px;
    left: 392px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
}
*/